body{
    margin:0;
    padding:0;
    overflow: hidden;
}

.mapBlock{
    height: 100%;
    width: 100%;
}

.mapBlock img {
    height: 100%;
    width: 100%;
}

#hero_container{
    position: fixed;
    bottom: 25vh;
    left: 40vw;
    height : 20vh;
    z-index: 3;

}

#enemy_container {
    position: fixed;
    bottom: 25vh;
    left: 70vw;
    height : 25vh;
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

#hero_container img, #enemy_container img  {
    height: 100%;
    width: auto;
}

#game_container {
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
}


#error_score {
    position: absolute;
    top: 2vh;
    left: 2vw;
    z-index: 3;
    font-size: large;
    color: white;
}

#killed_score {
    position: absolute;
    top: 2vh;
    left: 88vw;
    z-index: 3;
    font-size: medium;
    color: red;
}
