#hero_container {
  position: absolute;
  left: 30vw;
  top: 60vh;
  height: 22.25vh;
  width: 10vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero_container img {
  height: 100%;
  width: auto;
}

#pointer {
  position: absolute;
  top: 20vh;
  left: 30vw;
  height: 100px;
  width: 100px;
  background: black;
  z-index: 1000;
}

.slotGroup {
  position: absolute;
  top: 20vh;
  height: 300px;
  z-index: 1000;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slot {
  width: 10vw;
  aspect-ratio: 1/1;
  background: red;
}

.slotsLeft{
  left: 0;
  width: 40vw;
}

.slotsCenter{
  left: 40vw;
  width: 28vw;
}
.slotRight{
  left: 68vw;
  width: 32vw;
}


.item {
  height: 100%;
  width: auto;
}