* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrolling */
}

#game_container {
  position: fixed;
  height: 100%;
  top: 0;
  display: flex;
}

#hero_container {
  position: fixed;
  top: 60vh;
  left: 40vw;
  height: 15vh;
  z-index: 5;
}

.enemy_container {
  position: fixed;
  bottom: 25vh;
  left: 120vw;
  height: 25vh;
  z-index: 1000;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#hero_container img,
.enemy_container img {
  height: 100%;
  width: auto;
}

#error_score {
  position: absolute;
  top: 2vh;
  left: 2vw;
  z-index: 3;
  font-size: large;
  color: white;
}

#killed_score {
  position: absolute;
  top: 2vh;
  left: 88vw;
  z-index: 3;
  font-size: medium;
  color: red;
}

#answer_data_container {
  height: 10vh;
  width: 25vw;
  border-radius: 12px;
  background: grey;
  position: absolute;
  left: 35vw;
  top: 85vh;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  padding-right: 20px;
  padding-left: 20px;
}

#answer_data_container div {
  height: 100%;
  width: 40%;
  display: flex;
  align-items: center;
  font-size: large;
}

#answer_data_container_left_logo_container {
  justify-content: flex-start;
  opacity: 0.3;
}

#answer_data_container_left_logo {
  height: 50%;
  width: auto;
}

#transformation_background {
  position: fixed;
  background: #121111;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  display: none;
}
