* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,
body {
  height: 100%;
  width: 100%;
  overflow: hidden; /* Prevent scrolling */
}

audio {
  display: none;
}

#game_container {
  position: fixed;
  height: 100%;
  top: 0;
  display: flex;
}

#hero_container {
  position: fixed;
  top: 67vh;
  left: 20vw;
  height: 15vh;
  z-index: 5;
}

.enemy_container {
  position: fixed;
  bottom: 18vh;
  left: 120vw;
  height: 20vh;
  z-index: 11;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#hero_container img,
.enemy_container img {
  height: 100%;
  width: auto;
}

#lifePointsContainer {
  position: absolute;
  top: 2vh;
  left: 2vw;
  z-index: 3;
  font-size: large;
  color: white;
  height: 10vh;
  width: 10vw;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.lifePointContainer {
  width: 20%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.lifePointContainer img {
  height: 80%;
  width: auto;
}

#score {
  position: absolute;
  top: 2vh;
  left: 88vw;
  height: 10vh;
  width: 7vw;
  z-index: 3;
  font-size: medium;
  display: flex;
  justify-content: space-around;
  align-items: center;
}

#score img {
  height: 70%;
  width: auto;
}

#score_value {
  font-size: x-large;
  color: gold;
}

#answer_data_container {
  height: 15vh;
  width: 70vw;
  border-radius: 12px;
  background: grey;
  position: absolute;
  left: 15vw;
  top: 85vh;
  z-index: 3;
  display: flex;
  justify-content: space-between;
  align-items: center;
  opacity: 0.8;
  padding-right: 20px;
  padding-left: 20px;
}

#answer_data_container div {
  height: 100%;
  display: flex;
  align-items: center;
  font-size: x-large;
}

#answer_data_value {
  width: 80%;
}

#answer_data_container_left_logo_container {
  width: 20%;
  justify-content: flex-start;
  opacity: 0.3;
}

#answer_data_container_left_logo {
  height: 50%;
  width: auto;
}

#transformation_background {
  position: fixed;
  background: #121111;
  left: 0;
  top: 0;
  height: 100vh;
  width: 100vw;
  z-index: 4;
  display: none;
}

#score_malus_container {
  position: absolute;
  top: 50vh;
  left: 60vw;
  display: none;
  flex-direction: column;
  z-index: 10;
  font-size: large;
  color: red;
}

#score_reward_container {
  position: absolute;
  top: 50vh;
  left: 60vw;
  display: none;
  flex-direction: column;
  z-index: 10;
  font-size: large;
  color: green;
}

#transformed_hero_bonus_reward_container {
  position: absolute;
  top: 20vh;
  left: 20vw;
  display: none;
  flex-direction: column;
  z-index: 10;
  font-size: xx-large;
  color: red;
}

@import url(https://fonts.googleapis.com/css?family=Akronim);

.fire {
  width: 80%;
  max-width: 1000px;
  height: 10vh;

  background-position: center center;
  background-size: 1000px 200px;
  border-radius: 10px;
  font-family: "Akronim";
  overflow: hidden;
  text-align: center;
  vertical-align: middle;
}
.fire:before {
  content: "";
  display: inline-block;
  height: 100%;
  vertical-align: middle;
}

.Blazing {
  position: absolute;
  top: 20%;
  left: 20%;
  display: inline-block;
  margin: 0;

  color: rgb(255, 115, 0);
  font-size: xx-large;
  line-height: 50px;
  min-width: 50px;
  outline: none;
  vertical-align: middle;

  text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange,
    4px -5px 6px yellow, -4px -10px 10px yellow, 0 -10px 30px yellow;
  animation: 2s Blazing infinite alternate linear;
}

@keyframes Blazing {
  0% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow,
      0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
  }
  25% {
    text-shadow: 0 3px 20px red, 0 0 30px red, 0 0 20px orange, 0 0 5px yellow,
      -2px -5px 5px yellow, 3px -10px 10px yellow, -4px -15px 20px yellow;
  }
  50% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      -2px -5px 5px yellow, 3px -10px 10px yellow, -4px -15px 20px yellow,
      2px -20px 30px rgba(255, 255, 0, 0.5);
  }
  75% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 -5px 10px orange,
      3px -5px 5px yellow, -4px -10px 10px yellow,
      2px -20px 30px rgba(255, 255, 0, 0.5), 0px -25px 40px rgba(255, 255, 0, 0);
  }
  100% {
    text-shadow: 0 3px 20px red, 0 0 20px red, 0 0 10px orange, 0 0 0 yellow,
      0 0 5px yellow, -2px -5px 5px yellow, 4px -10px 10px yellow;
  }
}

#endOfGameInterface {
  position: absolute;
  left: 0;
  top: 0;
  z-index: 1004;
  height: 100vh;
  width: 100vw;
  display: none;
  justify-content: center;
  align-items: center;
}
#endOfGameInterface img {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
}

#endOfGameInterfaceScore {
  font-family: "Cinzel Decorative", cursive;
  position: absolute;
  font-size: 60px;
  z-index: 1001;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 10%;
  width: 10%;
  color: rgb(78, 68, 12);
}

#leftMobileButton {
  position: fixed;
  left: 5vw;
  bottom: 2vh;
  height: 10vh;
  width: auto;
  z-index: 1002;
  display: flex;
}

#rightMobileButton {
  position: fixed;
  right: 5vw;
  bottom: 2vh;
  height: 10vh;
  width: auto;
  z-index: 1002;
  display: flex;
}
.controllerImg {
  height: 100%;
  width: auto;
}

@media screen and (min-width: 1000px) {
  #leftMobileButton {
    position: fixed;
    left: 5vw;
    bottom: 2vh;
    height: 10vh;
    width: auto;
    z-index: 1002;
    display: none;
  }

  #rightMobileButton {
    position: fixed;
    right: 5vw;
    bottom: 2vh;
    height: 10vh;
    width: auto;
    z-index: 1002;
    display: none;
  }
}

#playAgainLink img {
  height: 100%;
  width: auto;
}

body {
  background: black;
}

.progress {
  --progress: 0%;

  position: absolute;
  top: 5vh;
  left: 35vw;
  width: 30vw;
  height: 7.5vh;
  border: 1px solid #fff;
  padding: 9px 7px;
  box-shadow: 0 0 10px #aaa;
  z-index: 1002;
}

.progress .bar {
  width: var(--progress);
  height: 100%;
  background: linear-gradient(gold, #c85, gold);
  background-repeat: repeat;
  box-shadow: 0 0 10px 0px orange;
  animation: shine 4s ease-in infinite, end 1s ease-out 1;
  transition: width 3s ease;
}

#playAgainLink {
  height: 10vh;
  width: 10vw;
  position: absolute;
  bottom: 5vh;
  left: 10vw;
  z-index: 1005;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px;
  border: solid 3px gray;
}

#challengesuccessButton {
  height: 10vh;
  width: 10vw;
  position: absolute;
  bottom: 5vh;
  right: 10vw;
  z-index: 1005;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 15px;
  overflow: hidden;
  box-shadow: 1px 1px 1px 1px;
  border: solid 3px gray;
}

.endOfGameButton {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  background: none;
  border: none;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
  color: rgb(204, 201, 201);
  font-weight: bold;
  cursor: pointer;
  font-family: "MedievalSharp", cursive;
  font-weight: 400;
  font-style: normal;
}

.woodButtonBackground {
  position: absolute;
  left: 0;
  top: 0;
  height: 100%;
  width: 100%;
  z-index: 1;
}

@property --progress {
  syntax: "<length>";
  initial-value: 0%;
  inherits: true;
}

@keyframes shine {
  0% {
    background-position: 0 0;
  }
  100% {
    background-position: 0 50px;
  }
}

@keyframes end {
  0%,
  100% {
    box-shadow: 0 0 10px 0px orange;
  }
  50% {
    box-shadow: 0 0 15px 5px orange;
  }
}
