#hero_container {
  position: absolute;
  left: 30vw;
  top: 60vh;
  height: 22.25vh;
  width: 10vw;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#hero_container img {
  height: 80%;
  width: auto;
}

#pointer {
  position: absolute;
  top: 20vh;
  left: 30vw;
  height: 100px;
  width: 100px;
  background: black;
  z-index: 3;
}

.slotGroup {
  position: absolute;
  top: 20vh;
  height: 300px;
  z-index: 3;
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.slot {
  width: 10vw;
  aspect-ratio: 1/1;
  position: relative;
  cursor: pointer;
}

.slotsLeft {
  left: 0;
  width: 40vw;
}

.slotsCenter {
  left: 40vw;
  width: 28vw;
}
.slotRight {
  left: 68vw;
  width: 32vw;
}

.item {
  height: 100%;
  width: auto;
}

#menu {
  position: absolute;
  top: 25vh;
  left: 30vw;
  background: brown;
  opacity: 0.95;
  z-index: 4;
  height: 60vh;
  aspect-ratio: 4/3;
  display: none;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

#menuA {
  height: 20%;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
#menuA input {
  height: 80%;
  width: 90%;
  border: none;
  background: none;
  color: white;
  font-size: large;
  outline: none;
}

#menuB {
  height: 70%;
  width: 95%;
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  overflow: scroll;
  overflow-x: hidden;
}
.menu_item_container {
  width: 25%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}

.search-result-item {
  width: 25%;
  aspect-ratio: 1/1;
  display: flex;
  justify-content: center;
  align-items: center;
}
.menu_item {
  width: 80%;
  aspect-ratio: 1/1;
  border: solid 1px;
  background: rgb(136, 59, 59);
  display: flex;
  justify-content: center;
  align-items: center;
}

.menu_item img {
  width: 80%;
  height: auto;
  cursor: pointer;
}

.search-result-item {
  width: 100px;
  height: 100px;
  object-fit: cover;
}

#menuB {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  gap: 10px;
}

#closeButton {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  background-color: red;
  color: white;
  text-align: center;
  line-height: 30px;
  cursor: pointer;
}

#textContainer {
  display: none; /* Hidden by default, will be shown by the JS function */
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  position: absolute;
  top: 25vh;
  left: 30vw;
  width: 40vw;
  height: 60vh;
  background-color: brown;
  opacity: 0.95;
  z-index: 5;
}

#textInput {
  height: 20%;
  width: 90%;
  border: none;
  background: none;
  color: white;
  font-size: large;
  outline: none;
}

#textArea {
  width: 90%;
  height: 70%;
  border: none;
  background: none;
  color: white;
  font-size: large;
  outline: none;
  resize: none; /* Prevents resizing */
}

#textContainer button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
}

#textContainer button:hover {
  background-color: darkred;
}

#textContainer button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
}

#textContainer button:hover {
  background-color: darkred;
}

#textContainer button {
  background-color: red;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
}

#textContainer #updateImageButton {
  background-color: blue;
  color: white;
  border: none;
  padding: 10px;
  cursor: pointer;
  position: absolute;
  bottom: 10px;
  right: 10px;
}

#textContainer #updateImageButton:hover {
  background-color: darkblue;
}

#createSectionBtn {
  position: absolute;
  bottom: 10px;
  left: 10px;
  z-index: 6;
}

#currentSection {
  position: absolute;
  bottom: 10px;
  left: 50%;
  transform: translateX(-50%);
  z-index: 6;
  background-color: rgba(255, 255, 255, 0.8);
  padding: 5px 10px;
  border-radius: 5px;
}

.mapBlock {
  height: 80vh;
  width: 100vw;
}

.mapBlock img {
  height: 100%;
  width: 100%;
}

#golemImage {
  position: absolute;
  left: 50vw;
  height: 25vh;
  top: 50vh;
  width: auto;
  z-index: 2;
  cursor: pointer;
}

#obeliskContainer {
  position: absolute;
  left: 50vw;
  height: 25vh;
  top: 50vh;
  width: auto;
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

#obeliskImage {
  height: 100%;
  width: auto;
}

#obeliskLightning {
  height: 300%;
  position: absolute;
  left: -17.5vw;
  width: auto;
}

#ground {
  position: fixed;
  top: 80%;
  width: 100%;
  height: 20%;
  left: 0;
  background: #1c7dbf;
  z-index: 10;
}
